* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: #ffffff;
}
.btn {
	padding: 20px 58px;

	position: relative;

	color: #fff;
	background: #00c9e0;

	box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
	border-radius: 48px;
	border: none;
}
.container {
	width: 1400px;
	margin: 0 auto;
}

/* sections */
.header-wrapper {
	background-image: url(./images/hero-img.png);
	width: 100%;
	height: 100vh;
}

.header {
	padding-top: 75px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	vertical-align: middle;
	margin-right: 32px;
}

.header__btn::after {
	content: '';

	position: absolute;
	right: -6px;

	width: 30px;
	height: 2px;
	background-color: #fff;
}

.hero {
	margin-top: 150px;
	text-align: center;
}

.hero__title {
	font-family: 'Noe Display';
	font-style: normal;
	font-weight: 700;
	font-size: 120px;
	line-height: 153px;
	letter-spacing: -0.02em;
}
.hero__subtitle {
	margin-top: 20px;
}
.hero__text {
	width: 643px;
	margin: 0 auto;
	margin-top: 50px;
}

.option {
	padding: 100px 0;

	display: flex;

	background-color: #03192a;
}
.option .container {
	display: flex;
	justify-content: space-between;
}

.card {
	width: 228px;

	padding: 32px 28px;

	background: #f4f1eb;
	border-radius: 8px;
	color: #333d4b;
}
.card--main {
	background: #0e8784;
}

.card__title {
	margin-bottom: 24px;

	font-family: 'Fraunces 9pt';
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 32px;
	/* identical to box height, or 133% */

	color: #333d4b;
}
.card__title--main {
	color: #ffffff;
}

.card__text {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */

	color: #333d4b;
}

.card__text--main {
	color: #fefcf7;
}
