* {
	margin: 0;
	padding: 0;
}

.box {
	width: 600px;

	height: 300px;
	background-color: blue;
}

/* 0 -500 blue */
/* 500 -1000 yellow */
/* 1000 - red */

@media only screen and (min-width: 500px) and (max-width: 1000px) {
	/* 500 -   */
	.box {
		background-color: yellow;
	}
}

@media only screen and (min-width: 1000px) {
	.box {
		background-color: red;
	}
}
